
	* {

		margin: 0px;
	  
		padding: 0px;
	  
		box-sizing: border-box;
	  
	  }
	  

	  .body-text {  
		display: flex;
		font-family: "Montserrat", sans-serif;  
		align-items: center;
		justify-content: center;
		margin-top: 250px;
	  }
	  
	  nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-height: 8vh;
		background-color: teal;
		font-family: "Montserrat", sans-serif;
	  }
	  
	  .heading {
		color: white;
		text-transform: uppercase;
	  
		letter-spacing: 5px;
	  
		font-size: 20px;
	  
	  }
	  
	  .nav-links {
		display: flex;
		justify-content: space-around;
		width: 30%;
	  
	  }
	  
	  .nav-links li {
		list-style: none;
	  }
	  
	  .nav-links a {
		color: white;
		text-decoration: none;
		letter-spacing: 3px;
		font-weight: bold;
		font-size: 14px;
		padding: 14px 16px;
	  
	  }
	  
	  .nav-links a:hover:not(.active) {
		background-color: lightseagreen;
	  }
	  
	  .nav-links li a.active {
		background-color: #4caf50;
	  }
	  .centered-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: justify;
		height: 100vh;
	  }
	  
	  .styled-table {
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		font-family: sans-serif;
		min-width: 400px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}
	.styled-table thead tr {
		background-color: #009879;
		color: #ffffff;
		text-align: left;
	}
	.styled-table th,
	.styled-table td {
		padding: 12px 15px;
	}
	styled-table tbody tr {
		border-bottom: 1px solid #dddddd;
	}

	.styled-table tbody tr:nth-of-type(even) {
		background-color: #f3f3f3;
	}

	.styled-table tbody tr:last-of-type {
		border-bottom: 2px solid #009879;
	}
	.styled-table tbody tr.active-row {
		font-weight: bold;
		color: #009879;
	}
	.ptitable {
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		font-family: sans-serif;
		min-width: 400px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}
	.ptitable thead tr {
		background-color: #009879;
		color: #ffffff;
		text-align: left;
	}
	.ptitable th,
	.ptitable td {
		padding: 12px 15px;
	}
	.ptitable tbody tr {
		border-bottom: 1px solid #dddddd;
	}

	.ptitable tbody tr:nth-of-type(even) {
		background-color: #f3f3f3;
	}

	.ptitable tbody tr:last-of-type {
		border-bottom: 2px solid #009879;
	}
	.ptitable tbody tr.active-row {
		font-weight: bold;
		color: #009879;
	}
	.container {
		        margin-top: 200px;
		    }

